form {
  padding: 10px;
  color: orangered;
  background-image: url("https://cloudfront-us-east-2.images.arcpublishing.com/reuters/YC333JKSXFIDBPSJ5ST2T25XWE.jpg");
  font-size: 20px;
  font-family: Jamrul;
  text-align: center;

}
input{
  color: cadetblue;
}
select{
  color: forestgreen;
}
textarea{
  color: darkorange;
}
header{
  text-align: center;
  color: forestgreen;
  background-color: #555555;
  padding: 10px;
}
